# Only project- and language-specific ignores in here. Use global .gitignore for editors etc

# Vagrant
.vagrant/


.classpath/
.project/
.settings/
**/GeoLite2-City.tar.gz
**/bin/
**/GeoLite2-City_*

**/.classpath
**/.project
**/.settings/